<div>
    <h1>
        Spell Class
        <a routerLink="/spells-per-day"><i class="fa fa-chevron-right fa-inverse" aria-hidden="true"></i></a>      
    </h1>
    <div class="background">      
      <select 
        class="custom-select" 
        [value] = "(spellsState | async).spellClass"
        (change)="onSelectedSpellLevelChange($event.target.value)">
        <option *ngFor="let spellClass of spellClasses" [value]="spellClass.spellClass">{{spellClass.label}}</option>    
      </select>
      
    </div>
</div>
