$blue: #007bff;
h1 {
  background-color: $blue; 
  color: white;
  margin-bottom: 0;
  position: block;
}
div {  
  height: 100vh;
  width: 100%;  
  overflow-y: hidden;
}
div .background{  
  background: url(/assets/book-cover.svg) no-repeat 0 30%;
  background-size: 100%;
  background-color: $blue;
  height: 100%;
  width: auto;    
}
select {
  color: $blue;
  font-weight: bold;
  background-image: $blue;
}

