$blue: #007bff;
h1 {
  background-color: $blue; 
  color: white;
  margin-bottom: 0; 
}

div .background{  
  background: url(/assets/book-cover.svg) no-repeat 0 30%;
  background-size: 100%;
  background-color: $blue;
  flex: 1 1 auto;   
}


