<h1>
  <a title="Spells Setup" [routerLink]="['/spells-setup']"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
  Spells Use
</h1>
<div *ngFor="let spellLevel of (spellLevelsState|async).spellLevels" [hidden]="tbody.children.length === 0">
  <h2 class="alert-dark">Level {{spellLevel.label}} </h2>
  <table class="table">
    <thead class="thead-light">
      <th>Remaining Uses</th>
      <th>Cast</th>
      <th>Name</th>
      <th>Description</th>
      <th>School</th>
      <th>Components</th>
      <th>Casting Time</th>
      <th>Range</th>
      <th>Target/Effect/Area</th>
      <th>Duration</th>
      <th>Save</th>
      <th>Spell Resistance</th>
    </thead>

    <tbody #tbody>
      <tr [@spellRemoval] (@spellRemoval.done)="spellRemovalDone(tbody.children.length === 0)" *ngFor="let spell of spells | level: spellLevel.label | known | remainingUses"
        [title]="spell.description">
        <td>{{spell.metaData.remainingUses}}</td>
        <td>
          <button class="btn btn-fab btn-primary" (click)="spell.metaData.remainingUses = spell.metaData.remainingUses - 1 ">Cast</button>
        </td>
        <td>{{spell.name}}</td>
        <td>{{spell.shortdescription}}</td>
        <td>{{spell.school}}</td>
        <td>{{spell.components}}</td>
        <td>{{spell.castingtime}}</td>
        <td>{{spell.range}}</td>
        <td>{{spell.target || spell.effect || spell.area}}</td>
        <td>{{spell.duration}}</td>
        <td>{{spell.savingthrow}}</td>
        <td>{{spell.spellresistance}}</td>
      </tr>
    </tbody>
  </table>
</div>