<div class="root" [hidden]="isRootHidden">
  <h1>
    <a title="Spells Setup" [routerLink]="['/spells-setup']">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    Spells Use    
    <button       
      [class.btn-primary]="isRollActive"
      [class.btn-light]="!isRollActive"
      (click)="isRollActive = !isRollActive"
      class="btn"
      data-toggle="button"
      aria-pressed="isRollActive? true: false" 
      autocomplete="off">
    <i class="fa fa-x2 fa-cube" aria-hidden="true"></i>
    </button>
  </h1>
   
  <div class="content">
    <div  *ngFor="let spellLevel of (spellLevelsState|async).spellLevels" [hidden]="tbody.children.length === 0">
      <h2 class="alert-dark">Level {{spellLevel.label}} </h2>
      <table class="table">
        <thead>
          <tr class="thead-light">
            <th>Remaining Uses</th>
            <th>Cast</th>
            <th>Name</th>
            <th>Description</th>
            <th>School</th>
            <th>Components</th>
            <th>Casting Time</th>
            <th>Range</th>
            <th>Target/Effect/Area</th>
            <th>Duration</th>
            <th>Save</th>
            <th>Spell Resistance</th>
          </tr>
        </thead>

        <tbody #tbody>
          <tr [@spellRemoval] (@spellRemoval.done)="spellRemovalDone(tbody.children.length === 0)" *ngFor="let spell of selectAllSpells(spellsState | async) | level: spellLevel.label: (spellsState | async).spellClass | known | remainingUses ; trackBy:spellsTrackBy">
            <td>{{spell.metaData.remainingUses}}</td>
            <td>
              <button class="btn btn-fab btn-primary" (click)="castSpellClicked(spell)">Cast</button>
            </td>
            <td>{{spell.name}}</td>
            <td>{{spell.shortdescription}}
              <br>
              <app-more-detail [spell]="spell.name"></app-more-detail>
            </td>
            <td>{{spell.school}}</td>
            <td>{{spell.components}}</td>
            <td>{{spell.castingtime}}</td>
            <td>{{spell.range}}</td>
            <td>{{spell.target || spell.effect || spell.area}}</td>
            <td>{{spell.duration}}</td>
            <td>{{spell.savingthrow}}</td>
            <td>{{spell.spellresistance}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<app-die-roller [hidden]="!isDiceRollerShown"></app-die-roller>
<router-outlet  (activate)="isRootHidden=true" (deactivate)="isDiceRollerShown = false; isRootHidden=false" ></router-outlet>

