<table>
  <thead>
    <tr>
      <th *ngFor="let level of levels">{{level.label}}<span></span></th>      
    </tr>
  </thead>
  <!-- <tfoot>
      <tr>        
        <td colspan="4"><span>{{levels.map(level=>level.numOfSpells).reduce((acc,cur)=> acc+cur)}} missions</span></td>
      </tr>        
  </tfoot>  -->
  <tbody>
    <tr>
      <td 
        *ngFor="let level of levels"
        (click)="level.isEdited = true"
        (blur)="level.isEdited = false">
        <input *ngIf="level.isEdited"  >
        {{level.numOfSpells}}
      </td>           
    </tr>
  </tbody>  
</table>
