$blue: #007bff;

div {  
  min-width: 7rem;
  user-select: none;  
}

i {
  color: $blue;
  cursor: pointer;
}

i:hover {  
  color: darken($blue, 20%);  
}

i.disabled {
  opacity: 0;
  pointer-events: none;
}

span {  
  line-height: 2rem;
  font-size: 1.5rem;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  vertical-align: top;
}