/* You can add global styles to this file, and also import other style files */
$fa-font-path: "/node_modules/font-awesome/scss/font";
h1 {
  flex: 0 0 auto;
}

.root {    
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.content {
  flex: 1 1 auto;
  overflow-x: auto;  
  overflow-y: auto;  
}

button {
  cursor:  pointer;
}

select.custom-select {
  width: initial;
  color: #007bff;
  font-weight: bold;
}

option {
  font-weight: bold;
}



